.function {
    width: 500px;
    border-collapse: collapse;
    margin-top: 20px;
}

button.btn_add {
    position: absolute;
    float: right;
    margin-top: -2%;
    border: 2px solid #007bff;
    border-radius: 12px;
    /* background-color: #007bff; */
    width: 100px;
    height: 60px;
   
}
button.btn_add:hover {
    background-color: #007bff;
}
p.text-primary.m-0.fw-bold{
    width: 30%;
}
/* Định nghĩa lớp tooltip */
#tooltip {
    position: relative;
    display: inline-block;
  }
  
  /* Ẩn nội dung tooltip */
#tooltip .tooltiptext {
  visibility: hidden;
  width: 90px;
  background-color: #cbccced8;
  color: #000000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%; /* Vị trí tooltip */
  left: 50%;
  transform: translateX(-50%); /* Canh chỉnh vị trí giữa tooltip */
  margin-bottom: 5px; /* Điều chỉnh khoảng cách giữa tooltip và icon */
  opacity: 0; /* Độ trong suốt */
  transition: opacity 0.1s; /* Hiệu ứng chuyển đổi */
}
  
  /* Hiển thị tooltip khi di chuột vào */
  #tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.8;
  }

  /* Dropdown Button */
  .dropbtn {
    background-color: #04AA6D;
    color: #4e73df;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #4e73df;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #dddddd00;}

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  /* Additional CSS for auto dropdown */
  .dropdown:hover .dropdown-content {
    display: block;
  }
